@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #01a7cd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f9f9f9;
}
